* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&family=Work+Sans:ital,wght@0,100;0,300;1,700&display=swap');


:root {
    /* Pode trocar para min-width e max-width
    min-width:120px; max-width: 1024px*/
    --width-padrao: 85%;
    --margin-padrao-centro: 0px auto;
    --cor-roxa:  rgb(86, 21, 147);
    --cor-roxa2: rgb(103, 19, 182) ;
    --cor-roxa3: rgb(79, 46, 109);
    --cor-roxa4: rgb(72, 7, 132);
    --cor-roxa5: rgb(0, 0, 0);

    --cor-back:rgb(255, 255, 255) ; 

}

body{
    font-family: "roboto";
    color: var(--cor-roxa);
    background-color: var(--cor-back);
}

/* Todos as divisao semanticas irao tem o mesmo tamanho */

/* tamanho e posicionamento do header */

header section{
    /* Pode trocar para min-width e max-width*/
    /* width: var(--width-padrao); ou por %*/
    min-width: 120px;
    max-width: 1050px;
    margin: var(--margin-padrao-centro);;
    padding: 10px;
    height: 100px;
    font-size: 18px;
    font-family: "Playpen Sans";
}

/* Transfomando o header em flex e alinhando os items */
#flex-header{
    display: flex;
    align-items: center;
}


#name-header{
    font-size: 25px;
}
/* Personalinado e posicionado os item da navegação do header
#nav-header,#div-header{
}
*/



/* Fim do header */


main{
    min-width: 120px;
    max-width: 1050px;
    margin: var(--margin-padrao-centro);
    padding: 10px;
}

#main-sec-dad{
    display: block;
    margin: inherit;
    height: inherit;
    padding-top: 50px;
}

#main-sec-son{
    display: flex;
    min-width: inherit;
    max-width: inherit;
}


#main-sec-fig-gradson{
    display: flex;
    min-width: 130px;
    max-width: 260px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
}

#profile{
    min-width: inherit;
    max-width: inherit;
    border-radius: 50%;
    animation: changebordercolor 10s ease-in-out infinite alternate;
    
}


#profile:hover{
    /* transform: scale(50%, 50%); */
}


#name{
    font-size: 20px;
}

#cargo{
    font-size: 25px;
    
}

#apresentacao{
    display: inline;
}

address{
    display: inline;
}



#nav-header{
    position: relative;
    top: 55px;
    font-size: 19px;
}

#nav-header ul{
    display: flex;
    list-style: none;
}

#nav-header ul li{
   width: 110px;
}

#nav-header a{
    text-decoration: none;
}

/* Animanto quando passar o mouse por cimas do link do header */

#nav-header a:hover{
    margin-bottom: 10px;
    text-decoration: underline;
    
}
#nav-header a img{
    width: 17px;
    height: 17px;
    margin-right: 0px 3px 0px 0px;

}


#sec-seta{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 140px;
}


#seta{
    animation: pulando 1s cubic-bezier(0.36, 0, 0.66, -0.56) infinite alternate;
}
 
@keyframes pulando {
    to{
        transform: translateY(15px);
    }
}

@keyframes changebordercolor {
    0%{
        border: 5px solid var(--cor-roxa);
    }

    25%{
        border: 5px solid  var(--cor-roxa2);
    }
    50%{
        border: 5px solid  var(--cor-roxa3);
    }
    75%{
        border: 5px solid  var(--cor-roxa4);
    }

    100%{
        border:  5px solid var(--cor-roxa5);
    }
}




#projetos{
    min-width: 150px;
    max-width: 1050px;
    display: grid;
    margin-top: 25px ;
}

#div-titulo{
    margin-bottom: 20px;
    text-align: center;
}

#sec-square-projeto{
    display: flex;
    min-width: 150px;
    max-width: 1050px;
    justify-content: center;
    
}

#sec-square-projeto > .div-square-projeto > div {
    width: 23vw;
    height: 14vw;
    border: 2px solid black;
    margin: 3px 10px 5px 5px;
}


.square-soon{
    display: flex;
    justify-content: center;
    background-color: var(--cor-roxa3);
    box-shadow: 5px 5px 5px black;
}

.square-soon > div{
    border: 2px solid black;
    background-color: var(--cor-roxa4);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.right-side{
    transform: rotate(47deg);
    margin: 0px;
    width: 5%;
}
.left-side{
    transform: rotate(-47deg);
    margin: 0px;
    width: 5%;
}

#sec-square-projeto > .div-square-projeto > div > img{
    width: 110%;
}


.align-center{
    align-items: center;
    
}
.align-center > div{
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 100%;
    height: 50px;
    color: var(--cor-roxa5);
}
