* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: 85vw;
    min-width: 200px;
} 

/* Edição do cabeçalho */

#alinhar_item_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design_header{
    padding: 20px;
    background-color: aqua;
}


/* Inicio edição links do cabeçãlho */
.responsive_list_full {
    display: flex;
    gap: 30px;
}

.responsive_list_half {
    display: inline;
}

#lista_nav li {
    list-style: none;
}

#lista_nav a {
    color: black;
}