* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: River;
    src: url(../font/blank_river/Blank\ River.ttf);
}

html, body{
    height: 100%;
}

header{
    height: 100%;
    font-family: River;
    letter-spacing: 4px;
}


.background-full-page{
    background: url(../img/backheader.jpg) no-repeat center center;
    background-attachment: fixed ;
    background-size: cover;
    
}

#section-header{
    display: flex;
    justify-content: center;
    background-color: #ffa600ea;
    height: 100%;
}



.profile-thumb {
    background: url(../img/) center center;
    background-size: cover;
    position: relative;
    bottom: 60px;
    border-radius: 50%;
    width: 200px;
    height: 200px;    
    box-shadow: 1px 3px 2px #9c6704;
    background-color: red;
    text-align: center;
}


@media screen and (max-width: 400px) {
    .profile-thumb{
        width: 35vw; /* 100px*/
        height: 35vw; /* 100px*/
    }
}

#name-thumb{
    font-size: 60px;
    position: relative;
    font-family: River;
    transform: rotate(-10deg);
    bottom: 40px;
    text-shadow: 1px 1px 2px #000;
}

.min-width-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1200px;
    /* margin:auto; */
}
header ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    bottom: 25px;
    position: relative; 
}

header li {
    font-size: clamp(18px,1.9vw,2.5vw);
    text-shadow: 0px 1px 1px #000;
}

header li a{
    text-decoration: none;
    color: #565656;

}