* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

* , html, body {
    padding: 0;
    margin: 0;
    
}



header {
    height: 10vh;
    border-bottom: 1px solid white;
    background-color: #2D64FA;
    
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;

  
}

header h1 {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(50px, 20vw, 70px);
    margin: 0;
}

#button-nav-header{
    height: 60px;
    width: 45px;
    border-radius: 10px;
    background-color: #2D64FA;
    border: none;
    position: relative;
   
}


#button-nav-header::after,
#button-nav-header::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 20px;
    height: 3px;
}

#button-nav-header::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    transition: 0.2s linear;

}

#button-nav-header::before {
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.2s linear;
}
#button-nav-header:hover {
    border: 2px solid black;

}

#button-nav-header:hover::after{
    transform: rotate(-50deg)translate(-0%);
    left: 30%;
    top: 50%;
    transition: 0.2s linear;
}

#button-nav-header:hover::before{
    transform: rotate(50deg) translate(-0%);
    left: 30%;
    top: 50%;
    transition: 0.2s linear;
}

header nav {
    display: none;
    position: absolute;
    top: 62px;
    left: -35px;
    right: 0px;
}

header #button-nav-header:hover + nav{
    display: block;
}

header nav:hover {
    display: block;
}

header li {
    padding: 15px;
    padding-left: 40px;
    text-align: left;
    list-style: none;
    background-color: #2690DD;
    border-bottom: 2px solid rgba(0, 0, 0, 0.169);
    text-transform: uppercase;
}

header a {
    color: black;
    text-decoration: none;

}


main {
    background-color: #2D64FA;
    height: 90vh;
}

.full-viewport {
    height: 100vh;
}


